/*mobile portrait*/
nav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    right: 0;
    margin-bottom: 1rem;
    background: var(--body-color);
}

nav a {
    font-size: 20px;
    color: var(--light);
    letter-spacing: 3px;
    padding: 0.4em 0.4em 0.4em 12%;
    text-decoration: none;
    display: block;
    transition: 0.4s;
}

i {
    padding-left: 11%;
    margin: 0;
    color: var(--light);
    font-size: 40px;
    cursor: pointer;
    transition: 0.4s;
}

nav a:hover {
    /*background: var(--light);*/
    transition: 0.3s;
    color: var(--text-color);
}

nav .close-nav-btn {
    padding: 0;
    margin: 0 8px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 45px;
}

nav .close-nav-btn:hover {
    background: none;
}

#open-nav {
    margin: 8px;
    font-size:30px;
    cursor:pointer;

}

#nav-btn {
    text-align:right;
}

i:hover {
    color: var(--text-color);
}

/*mobile: landscape*/
@media screen and (min-width: 480px) {
    #open-nav, nav .close-nav-btn{
        display: none;
    }

    nav {
        display: flex;
        position: relative;
        padding: 0;
        justify-content: right;
        background: none;
    }

    nav a {
        padding: 0.3em 4% 0.3em;
        font-size: 20px;
        letter-spacing: 2px;
    }

    #active {
        font-weight: bold;
        color: var(--text-color);
        text-decoration: underline;
        text-underline-offset: 5px;
    }
    i {
        font-size: 30px;
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 0;
    }
}

/*tablet: portrait*/
@media screen and (min-width: 768px) {
    nav a {
        letter-spacing: 3px;
        padding: 0.5em 3% 0.5em;
        font-size: 22px;
    }
    i {
        font-size: 40px;
    }

}
/*tablet: landscape, laptop, desktop*/
@media screen and (min-width: 992px) {
    nav a {
        padding: 0.5em 5% 0.5em;
    }
    i {
        font-size: 50px;
    }

}
